
<%= form_for @user, html: {multipart: true}  do |f| %>
	
   		<div class="col-sm-6 col-sm-offset-3">

        <div class="row" style= "text-align: center;">
          
            <%if current_user.avatar.present?%>
              <%=image_tag current_user.avatar.url(:medium), size: 120, style: "border-radius: 50%;"%><br>
              <%= f.check_box :delete_avatar%>Use gravatar
            <%else%>
              <%=link_to gravatar_for(current_user, size: 120), user_path(current_user)%><br>
              <a href="http://gravatar.com/emails" target="_blank">Change gravatar</a>
            <%end%>
           
        </div>

          <%=render 'shared/error_messages'%>

	      <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", autofocus: true%><br>

          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control",disabled: true,tabindex: "-1", readonly: true%><br>

          <%= f.label :birthdate, "Birthdate"%><br>
          <%= f.date_select :birthdate, {order: [:month, :day, :year], start_year: Date.today.year, end_year: Date.today.year - 100, class: "form-control"}, {required: true}%><br><br>

          <%=f.label :avatar %><br>
          <%= f.file_field :avatar%><br>
          
	      <%= f.submit "Update" , class: "btn btn-primary btn-block"%><br>
	     </div>
	
<% end %>
