
<%= form_for @user  do |f| %>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 ">
		
		<%=render 'shared/error_messages'%>
		</div>
	</div>

	<div class="row">
   		<div class="col-sm-6 col-sm-offset-3">

	      <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", autofocus: true%><br>

          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control",disabled: true,tabindex: "-1", readonly: true%><br>

          <%= f.label :birthdate, "Birthdate"%><br>
          <%= f.date_select :birthdate, {order: [:month, :day, :year], start_year: Date.today.year, end_year: Date.today.year - 100, class: "form-control"}, {required: true}%><br><br>
	      <%= f.submit "Update" , class: "btn btn-primary btn-block"%>
	     </div>
	</div>
<% end %>
