<li>
	 <%=link_to post.user.name, user_path(post.user)%>
	 <!-- render partial: "like_relationships/like", locals: {object: post}-->
	 
	<%= render partial: 'like_form', locals: {object: post}%>
	 <%=time_ago_in_words(post.created_at)%> ago<br>
	 <%= post.content %>
	 <!--COMMENT LINK GOES HERE-->
	 <%= link_to 'Comment', new_comment_path(post_id: post.id), remote: true%>
	 <div id="comment_form_<%=post.id%>"></div>
	 
	 <!--show comments here-->

	<%=link_to  comments_path(post_id: post.id), remote: true do %>
		<div id="glyphicon_<%=post.id%>">
			<p class="glyphicon glyphicon-menu-right">comments(<%=post.comments.count%>)</p>
		</div>
	<%end%>
	
	<ul id="show_comments_<%=post.id%>"></ul>
</li>

