<div class="index-user-info"> 
	<%if current_user.avatar.present?%>
		<%=image_tag current_user.avatar.url(:medium), size: 100%>
	<%else%>
		<%=link_to gravatar_for(current_user, size: 100), users_path(current_user)%>
	<%end%>
	<hr>
	<p><%=link_to current_user.name, user_path(current_user)%></p>
	<p><%=link_to "friends(#{current_user.num_friends})", friendships_path%></p>
</div>
<br>
<div class="timeline">

	<%if @posts%>
	    <ul class="all-posts" style="border: 1px solid pink; padding-left: 0;">
	       <%=render @posts%>
	    </ul>

	    <div class="text-center">
	    	<%=will_paginate @posts%>
	    </div>
    <%end%>
</div>


