<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1" >
  </head>

  <body>
    
    <%= render 'layouts/header'%>

    <div class="container">
      <% flash.each do |key,msg|%>
        <div class="alert alert-<%=key%>">
        <p><b><%=key%></b> <%=msg%></p>
      </div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
